/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
# Android build scratch (Gradle/IL2CPP), written by the first Quest APK build on 8 Oct 2026
/.utmp/
# the Meta SDK's editor build config, created by itself when a build needs it
/[Aa]ssets/Resources/OVRBuildConfig.asset
/[Aa]ssets/Resources/OVRBuildConfig.asset.meta

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt
*.stackdump

crashlytics-build.properties

/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
.vsconfig
*.apk
*.aab
*.unitypackage
*.app

/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/*
